/* ! Expense date styling*/
.expense-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    background-color: #fff;
    color: rgb(95, 95, 95);
    border-radius: 12px;
    align-items: center;
    justify-content: center;  
    
  }
  
  .expense-date-day {
    font-size: 1.5rem;
    font-weight: bold;
    width: auto;
    height: auto;
  }
  
  .expense-date-month {
    font-size: 0.75rem;
    font-weight: bold;
    width: auto;
    height: auto;
  }
  
  .expense-date-year {
    font-size: 0.75rem;
    font-weight: bold;
    width: auto;
    height: auto;
  }